* { margin: 0; padding: 0; outline: 0; }

body, html { height: 100%; }

body {
    font-size: 14px;
    line-height: 18px;
    font-family: Lato, arial, sans-serif;
    color: #aeaeae;
    background: #fff;
    min-width:480px;
}

a { color: #0252aa; text-decoration: none; cursor: pointer; }
a:hover { text-decoration: underline; }
a img { border: 0; }

input, textarea, select { font-size: 14px; font-family: Lato, arial, sans-serif; color:#393939;  }
textarea { overflow: auto; }

.cl { display: block; height: 0; font-size: 0; line-height: 0; text-indent: -4000px; clear: both; }
.notext { font-size: 0; line-height: 0; text-indent: -4000px; }
.left, .alignleft { float: left; display: inline; }
.right, .alignright { float: right; display: inline; }

#wrapper { min-height:100%; position:relative;  }

#bg { position:absolute; overflow:hidden; left:0; right:0; z-index: 1; width:100%; height:100%; }
#bg img { min-width:100%; min-height:auto;   position:relative; opacity: 0; -moz-opacity: 0; filter:alpha(opacity=0); }

.content-box { width:322px;  z-index: 2; position:relative; left:50%; top:0; padding:34px 0;   }
.content-box.type2 { padding-top:77px;  }
.content-box.type2 .blackbox form{ padding-top:6px;  }

h1#logo { padding-bottom:20px; }
h1#logo a { background:url(images/logo.png); display:block; height:68px; width:322px; }
h1#logo.lead-logo { padding-bottom:14px;   }
h1#logo.lead-logo a { width:180px; height:31px; background-image:url(images/lead-logo.png); margin:0 auto; }

.blackbox {
    background:#333; 
	border-radius:7px;
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
}
.blackbox { text-align:center; padding-bottom:17px; margin-bottom:11px;  }
.blackbox h3,
.blackbox h2 { font-family: Lato; font-size:28px; line-height:28px; color:#fff; font-weight:normal; padding:20px 10px;  letter-spacing:-2px; }
.blackbox h3 { font-size:22px; line-height:26px; padding:12px 30px; }
.blackbox p { padding-bottom:10px; text-shadow:1px 1px 1px rgba(0,0,0,0.7); margin-left: 10px; margin-right: 10px;  }
.blackbox form { padding:10px 0 16px;  }
.blackbox .field { background-color:#fff; font-size:14px; padding:6px 10px; border:0; width:256px; margin-bottom:16px;  }
.blackbox .field {
    border: 1px solid #333;
}
.blackbox .submit { background: #74CDFF no-repeat 220px 10px; color:#fff; border:1px solid #333; font-family: Lato; width:276px; height:35px; cursor:pointer; font-size:18px;  }  
.blackbox .submit { -webkit-appearance:none; line-height:18px; }  
.blackbox .submit:hover { background-color:#059edd;  }  

.footer { color:#fff; text-align:center; text-shadow:1px 1px 1px rgba(0,0,0,0.7) }
.footer a { color:#fff;  }

@media only screen and (max-width: 1024px) {
    
    .content-box { margin-left:-160px;  }
}

#topline {
    margin-bottom: -10px;
    font-weight: 700;
    font-size: 45px;
}